<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>studentAttendance</title>
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous">
  </script>
</head>
<body>
<h2>원생 출석부</h2>
<p th:text="${'원 이름 : '+schoolName}"></p>

<!--해당 원에 설정되어 있는 등하원시간-->
<p  th:text="'등하원 시간 : '+${studentInTime + '~' + studentOutTime}"></p>
<input type="hidden" name="in" th:value="${studentInTime}" >
<input type="hidden" name="out" th:value="${studentOutTime}" >
<!--로그인 id-->
<input type="hidden" th:value="${session.loginId}">
<!--현재날짜 출력-->
<p id="currentDate"></p>

<div>
  <!--정렬-->
  <label>반으로 정렬:</label>
  <select name="sortClass" onchange="filterTableByClass(this.value)">
    <option value="default">전체 반</option>
    <!-- 해당 schoolName 에 해당하는 모든 className 출력 classList출력 -->
    <option th:each="class : ${classList2}" th:text="${class}" th:value="${class}"></option>
  </select>

  <table>
    <thead>
    <tr>
      <th>이름</th>
      <th>반</th>
      <th>출결상태</th>
      <th>등원</th>
      <th>하원</th>
      <th>결석</th>
    </tr>
    </thead>

    <!-- attendance 테이블의 status=1인 학생들만 list 로 출력 -->
    <tbody id="attendanceTableBody">

    <tr th:each="student, status : ${studentList}">
      <!-- 선택된 반과 일치하는 경우에만 출력 -->
      <td  th:text="${student.studentName}"></td>
      <td name="className2" th:text="${student.className}"></td>
      <td name="status" th:each="attendance: ${attendanceList}" th:if="${attendance.parentId == student.id}">
        <p name="status" th:text="${attendance.attendanceStatus}"></p>
      </td>
      <td>
        <input type="hidden" name="id" th:value="${student.id}">
        <button value="등원" onclick="updateIn(this)">등원</button>
      </td>
      <td>
        <input type="hidden" name="id" th:value="${student.id}">
        <button value="하원" onclick="updateOut(this)">하원</button>
      </td>
      <td>
        <input type="hidden" name="id" th:value="${student.id}">
        <button value="결석" onclick="updateNo(this)">결석</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  // 현재 날짜 객체 생성
  var currentDate = new Date();

  // 년, 월, 일, 요일
  var year = currentDate.getFullYear();
  var month = currentDate.getMonth() + 1; // 월은 0부터 시작하므로 1을 더함
  var day = currentDate.getDate();
  var dayOfWeek = ['일', '월', '화', '수', '목', '금', '토'][currentDate.getDay()];

  // id = currentDate 에 출력해준다
  document.getElementById('currentDate').innerHTML = year + '년 ' + month + '월 ' + day + '일 ' + dayOfWeek + '요일';

  // 등원을 눌렀을 경우
  function updateIn(button) {
    var id = $(button).siblings('[name="id"]').val();
    console.log(id);
    // name이 in인 input 요소의 값을 가져오기
    var inTimeValue = $('[name="in"]').val();
    var outTimeValue = $('[name="out"]').val();
    $.ajax({
      type: "POST",
      url: "/attendance/status/in",
      data: {
        id: id,
        schoolInTime: inTimeValue,
        schoolOutTime: outTimeValue
      },
      success: function (response) {
        // 승인 = ok , 거부 = no
        if (response === "등원(지각)") {
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;등원(지각)</p>');
          alert("등원 완료되었습니다.");
          // 등원 상태를 바로 업데이트
        } else if (response === "update") {
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;등원(지각)</p>');
          alert("등원 수정 완료되었습니다.");
        } else if (response === "등원") {
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;등원</p>');
          alert("등원 완료되었습니다.");

        } else {
          alert("응답을 처리하는 중에 오류가 발생했습니다.");
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log("Error: " + textStatus);
        console.log("Details: " + errorThrown);
        alert("서버 요청 중에 오류가 발생했습니다.");
      }
    });
  }

  // 하원을 눌렀을 경우
  function updateOut(button) {
    var id = $(button).siblings('[name="id"]').val();

    // name이 in인 input 요소의 값을 가져오기
    var inTimeValue = $('[name="in"]').val();
    var outTimeValue = $('[name="out"]').val();
    console.log(id + ":" + inTimeValue + '~' + outTimeValue);
    $.ajax({
      type: "POST",
      url: "/attendance/status/out",
      data: {
        id: id,
        inTimeValue: inTimeValue,
        outTimeValue: outTimeValue
      },
      success: function (response) {
        // 승인 = ok
        if (response === "no") {
          alert("등원하지 않은 상태입니다.");
        } else if (response === "지각") {
          var currentTime = new Date();
          // var formattedTime = formatTime(currentTime);
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;지각</p>');

          alert("하원 완료 되었습니다.");
        } else if (response === "출석") {
          var currentTime = new Date();
          //var formattedTime = formatTime(currentTime);
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;출석</p>');

          alert("하원 완료 되었습니다.");
        } else if (response === "조퇴") {
          var currentTime = new Date();
          //var formattedTime = formatTime(currentTime);
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;조퇴</p>');
          alert("하원 완료 되었습니다.");
        } else if (response === "결석") {
          var currentTime = new Date();

          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;결석</p>');

          alert("하원 완료 되었습니다.");
        } else {
          alert("응답을 처리하는 중에 오류가 발생했습니다.");
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log("Error: " + textStatus);
        console.log("Details: " + errorThrown);
        alert("서버 요청 중에 오류가 발생했습니다.");
      }
    });
  }

  // 결석을 눌렀을 경우
  function updateNo(button) {
    var id = $(button).siblings('[name="id"]').val();
    $.ajax({
      type: "POST",
      url: "/attendance/status/no",
      data: {
        id: id
      },
      success: function (response) {
        // 승인 = ok
        if (response === "ok") {
          // 성공적으로 서버 응답 받으면 해당 버튼을 inTime 값으로 변경
          $(button).closest('tr').find('[name="status"]').html('<p>&nbsp;&nbsp;&nbsp;결석</p>');
          // 결석 눌럿을때 다시 버튼들은 등원, 하원 버튼으로 변경
          alert("결석처리되었습니다.");
        } else {
          alert("응답을 처리하는 중에 오류가 발생했습니다.");
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log("Error: " + textStatus);
        console.log("Details: " + errorThrown);
        alert("서버 요청 중에 오류가 발생했습니다.");
      }
    });
  }

  // 특정 탭의 테이블 행을 선택된 반에 따라 필터링해서 보여주거나 숨기기 (정렬)
  function filterTableByClass(selectedClass) {
    var tbody = $('#attendanceTableBody');

    tbody.find('tr').each(function () {

        // td 요소 중에 이름과 반에 해당하는 열을 찾음
        var className = $(this).find('td:eq(1)').text();
        var isDefault = selectedClass === 'default';

        // 선택된 반에 따라 해당 행을 표시 = show 하거나 숨김 = hide
        if (isDefault || className === selectedClass) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });

    // 전체를 선택하면 tbody를 다시 표시
    tbody.show();
  }

</script>
</body>
</html>
